@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 52px;
  background: #c6c6d2;
  color: #80002a;
}

.btn-space {
  margin-top: 20px; 
}

.alert-error {
  background-color: #c6c6d2;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #c6c6d2;
  border-color: #ebccd1;
  color: #a04442;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}
